<section class="contact-container" id="contact-container">
    <div id="contact-content" class="box">
        <div class="contact-text-container">
            <h2>CONTACT ME</h2>
            <p>Get in touch via the form below
                ,or by emailing <a href="">kontakt@nils-spiller.de</a>
            </p>
        </div>
        <!--  comment  -->
        <form id="contact-form" action="http://nils-spiller.developerakademie.net/send_mail.php" method="post">
            <label for="name">Name</label>
            <input name="name" id="name" type="text" placeholder="Enter your name">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Enter your email">
            <label for="message">Message</label>
            <textarea id="message" name="message" type="text" placeholder="Enter your message"></textarea>
            <button (click)="resetForm()" class="buttonPrimary"type="submit">Send</button>
        </form>
      
    </div>
</section>