<section class="contact-container" id="contact-container">
     <!--  working here  -->
    <div class="popUp-container opa-zero" id="popUp">
        <span>
            Your Email was successfully sent! Thanks for your message.
        </span>
    </div>
     <!--  old content  -->
    <div id="contact-content" class="box">
        <div class="contact-text-container">
            <h2>CONTACT ME</h2>
            <p>Get in touch via the form below
                or by emailing <a href="mailto:kontakt@nils-spiller.de">kontakt@nils-spiller.de</a>
            </p>
        </div>
        <!--  comment  -->
        <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <label for="name">Name</label>
            <input required
            [(ngModel)]="contact.name"
            name="name"
            #name="ngModel" type="text" placeholder="Enter your name">
            <label for="email">Email</label>
            <input  type="email" [(ngModel)]="contact.email"
            name="email"
            #email="ngModel" placeholder="Enter your email">
            <label for="message">Message</label>
            <textarea required
            [(ngModel)]="contact.message"
            name="message"
            #message="ngModel" id="message" name="message" type="text" placeholder="Enter your message"></textarea>
            <button  class="buttonPrimary" type="submit" >Send</button>
        </form>
      
    </div>
</section>