$color-primary: #FA2759;
$color-secondary: #2DFCD8;
$color-grey: #1A1A1A;
$color-black: #000000;

.nav-container{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: $color-black;
    max-width: 100vw;
    display: flex;
    justify-content:center;
    z-index: 10;
}

nav{
    background-color: $color-black;
   height: unset !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width:100px;
        height:100px;

    }

    div{
        a{
            text-decoration: none;
            margin-right: 10px;
            padding: 4px;
            border: 2px solid transparent;
            border-radius:8px;
            color: white;
            background-color: $color-grey;


            &:active{
                color: $color-primary;
            }
            &:hover{
                animation: borderSec 2s ease-in-out;
            }
        }

        .activeLink{
            background-color: $color-primary;
        }
    }
}

@keyframes borderSec {
    100%{
        border-top: 2px solid $color-secondary;
        border-left: 2px solid $color-secondary;
        border-right: 2px solid $color-secondary;
        border-bottom: 2px solid $color-secondary;
    }
    75%{
        border-left: 2px solid $color-secondary;
        border-right: 2px solid $color-secondary;
        border-bottom: 2px solid $color-secondary;
    }
    50%{
        border-right: 2px solid $color-secondary;
        border-bottom: 2px solid $color-secondary;
    }
    25%{
        border-bottom: 2px solid $color-secondary;
    }
    }
