$color-primary: #FA2759;
$color-secondary: #2DFCD8;
$color-grey: #1A1A1A;
$color-black: #000000;



.work-container{
    overflow-x: hidden;
    background-color: $color-black;
    max-width: 100vw;
   min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

     h2 {
           text-align: center;
         //   margin-top: 5%;
            margin-bottom:3% ;
            color: white;
            font-size: 42px;
        }


    #work-content{
        height:unset !important; // inherent 100vh from boxclass
       display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-black;

        .button-container{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                margin:16px;
            }
        }
       
        #render-container{
            margin-top:2rem;
            margin-bottom:5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .work-plate{
                position: relative;
                margin: 8px;
                .work-overlay{
                    position: absolute;
                }
              img{
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
               
                }                      


                &:hover{
                    cursor: pointer;
                    
                    .work-overlay{
                        z-index: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        animation: animateOverlay 1s linear;
                        height:100%;
                        width: 100%;
                     
                        background-color: rgba($color-black,0.8);

                        h4{
                            animation: animateOverlayText 1s ease-in-out;
                            display: unset !important;
                            color: $color-primary;
                            background-color: transparent;
                            text-align: center;
                            text-decoration: underline;
                            text-decoration-thickness: 3px;
                        }
                        p{
                            animation: animateOverlayText 1s ease-in-out;
                            display: unset !important;
                            color: white;
                            background-color: transparent;
                            text-align: center;
                        }
                            a{
                                animation: animateOverlayText 1s ease-in-out;
                                display: unset !important;
                                color: $color-secondary;
                                text-decoration-thickness: 3px;
                            }
                    //button {
                          //  animation: animateOverlayButton 1s ease-in-out;
                          //  display: unset !important;
                           // color: white;
                           // background-color: $color-primary;

                          
                        //}
                    }
                   
                }
            }

           
            
        }
    }
}
#aboutMe-anchor{
    position: absolute;
    bottom: 110px;
}


.toggeld{
    color: white !important;
        background-color:rgba($color-primary,0.6) ;
        border: 2px solid white !important;
}

@keyframes animateOverlay {
    from {
        height: 0%
    }
    to{
        height: 100%;
    }
}

@keyframes animateOverlayButton {
    from{
        display:none;
        color: transparent;
        background-color: rgba($color-primary,0.6);
    }

    to{
        display:unset !important;
        color: white;
        background-color: rgba($color-primary,0.6);
    }
}

@keyframes animateOverlayText {
    from{
        display:none;
        color: transparent;
        background-color: transparent;
    }

    to{
        display:unset !important;
        color: white;
        background-color: transparent;
    }
}



@media (max-width: 980px) {
    .work-container{
       
        #work-content{
            height: unset !important;
        }

    }
    button {
        margin: 8px !important;
        width: 169px !important;
        height: 80px !important;
    }
    .button-container{
        
        flex-wrap: wrap !important;
    }
}
@media (max-width: 900px) {
    .work-container{
        height: unset !important;
    }
}

@media (max-width: 700px) {
    button {
        width: 169px !important;
        height: 80px !important;
        margin: 6px !important;
    }
    img{
        width:250px !important;
        height: 250px !important;
    }
}

@media (max-width: 560px) {
  //  img{
     //   width:350px !important;
     //   height: 350px !important;
  //  }
    #work-container{
        height: unset !important;
        padding-bottom: 5% !important;

        #aboutMe-anchor{
            bottom:50px;
        }

        #work-content{
            height: unset !important;

            h2{
                position: relative !important;
                margin-bottom: 2rem !important;
            }
            .button-container{
                margin-top:2rem !important;
                flex-wrap: wrap !important;
            }

            #render-container{
                flex-wrap: unset !important;
                flex-direction: column;
            }
        }
    }

    @media (max-width: 420px) {
        img{
            width:300px !important;
            height: 300px !important;
        }
    }
}

@media (max-width: 410px) {
   .button-container{
       button{
           width: 100% !important;
           height:50px !important;
       }
   }
}


.from-left {
    transform: translateX(-100%);
    opacity: 0;
}
.from-right {
    transform: translateX(100%);
    opacity: 0;
}

.from-left,
.from-right{
    transition:transform 400ms ease-in,opacity 225ms ease-in;
}

.appear{
    transform: translateX(0) !important;
    opacity: 1;
}