<section class="work-container" id="work-container">
  
  
    <h2>MY WORK</h2>
  
    <div class="box" id="work-content">


        <div class="button-container">
            <button id="pinned" (click)="showPinned()" class="buttonSecondary" [ngClass]="{'toggeld': pinnedIsShown}">Pinned</button>        
            <button id="angular" (click)="showAngular()" class="buttonSecondary">Angular</button>
            <button id="js" (click)="showJs()" class="buttonSecondary">JavaScript</button>
            <button id="all" (click)="showAll()" class="buttonSecondary">All</button>     
        </div>

        <div *ngIf="pinnedIsShown" id="render-container">      
            <div  *ngFor="let project of pinnedProjects" class="work-plate">
                <div class="work-overlay">
                    <h4 class="hide" [innerHTML]="project.header"></h4>
                    <p class="hide" [innerHTML]="project.description"></p>
                   <a class="hide" [href]="project.href" target="_blank">See this project</a> 
                </div>
                <img src="{{ project.src }}" alt="">
            </div> 
        </div>

        <div *ngIf="allIsShown" id="render-container">      
            <div  *ngFor="let project of allProjects" class="work-plate">
                <div class="work-overlay">
                    <h4 class="hide" [innerHTML]="project.header"></h4>
                    <p class="hide" [innerHTML]="project.description"></p>
                   <a class="hide" [href]="project.href" target="_blank">See this project</a> 
                </div>
                <img src="{{ project.src }}" alt="">
            </div> 
        </div>

            <div *ngIf="angularIsShown" id="render-container">
                <div  *ngFor="let project of angularProjects" class="work-plate">
                    <div class="work-overlay">
                        <h4 class="hide" [innerHTML]="project.header"></h4>
                        <p class="hide" [innerHTML]="project.description"></p>
                        <button class="hide"><a [href]="project.href" target="_blank">See this project</a></button>
                    </div>
                    <img src="{{ project.src }}" alt="">
                </div>
            </div>

            <div *ngIf="jsIsShown" id="render-container">
                <div  *ngFor="let project of jsProjects" class="work-plate">
                    <div class="work-overlay">
                        <h4 class="hide" [innerHTML]="project.header"></h4>
                        <p class="hide" [innerHTML]="project.description"></p>
                        <button class="hide"><a [href]="project.href" target="_blank">See this project</a></button>
                    </div>
                    <img src="{{ project.src }}" alt="">
                </div>
            </div>
             
            
        
    </div>
</section>

