<section class="work-container" id="work-container">
  
  
    <h2>MY WORK</h2>
  
    <div class="box" id="work-content">
        <div class="button-container">
            <button id="all" (click)="showAll()" class="buttonSecondary">All</button>
            <button id="angular" class="buttonSecondary">Angular</button>
            <button id="js" class="buttonSecondary">JavaScript</button>
        </div>
        <div id="render-container">
            <img src="assets/img/projectPlaceholder.jpg" alt="">
            <img src="assets/img/projectPlaceholder.jpg" alt="">
            <img src="assets/img/projectPlaceholder.jpg" alt="">
            <img src="assets/img/projectPlaceholder.jpg" alt="">
            <img src="assets/img/projectPlaceholder.jpg" alt="">
            <img src="assets/img/projectPlaceholder.jpg" alt="">
        </div>
    </div>
</section>

