<section class="skills-container" id="skills-container">
    <h1>MY SKILLS</h1>
    <div class="box" id="skills-content">
     
            <div class="row">
                <div class="skill-container">
                    <span class="skill-text">Angular</span>
                    <img class="skill-image" src="assets/img/angular.png" alt="">
                </div>
                <div class="skill-container">
                    <span class="skill-text">Angular</span>
                    <img class="skill-image" src="assets/img/angular.png" alt="">
                </div>
                <div class="skill-container">
                    <span class="skill-text">Angular</span>
                    <img class="skill-image" src="assets/img/angular.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="skill-container">
                    <span class="skill-text">Angular</span>
                    <img class="skill-image" src="assets/img/angular.png" alt="">
                </div>
                <div class="skill-container">
                    <span class="skill-text">Angular</span>
                    <img class="skill-image" src="assets/img/angular.png" alt="">
                </div>
                <div class="skill-container">
                    <span class="skill-text">Angular</span>
                    <img class="skill-image" src="assets/img/angular.png" alt="">
                </div>
            </div>   
      
    </div>
</section>
