<section class="skills-container" id="skills-container">
    <div class="skill-text">
        <h2>MY SKILLS</h2>
        <div class="fade-container">
            <p class="opa-zero" id="hiddenP">.......</p>
            <div class="fadingEffect" id="fadingEffect"></div>
        </div>
    
    </div>
    
    <div class="box" id="skills-content">

        <div class="wrapper">
            <div *ngFor="let skill of skills;index as id;" class="skill-container" id=skill-{{id}}>
                <span class="skill-text" [innerHTML]="skill.text"></span>
                <img class="skill-image" [src]="skill.src" alt="">
            </div>
        </div>
            
    </div>
</section>
