$color-primary: #FA2759;
$color-secondary: #2DFCD8;
$color-grey: #1A1A1A;
$color-black: #000000;


.skills-container{
    background-color: $color-grey;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .skill-text{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    margin-top: 5%;
        h2{
            color: white;
            font-size: 42px;
            text-align: center;
        }

        .fade-container{
            position: relative;
            #hiddenP{
            color: $color-secondary;
            text-align: center;
            overflow: hidden;
        }
        }
        
    }

  /*  h2 {
        position: absolute;
        top: 5%;
        color: white;
        font-size: 42px;
    }  */

    #skills-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $color-grey;


        .wrapper{
            display: flex; 
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 80%;

            .skill-container{
                position: relative;
                background-color:white;
                border-radius:8px;
                height: 150px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2rem;

                .skill-text{
                    color: $color-black;
                    font-weight: bold;
                }
                .skill-image{
                    background-color: $color-secondary;
                    position: absolute;
                    top: -15%;
                    border: 2px solid rgba($color-secondary,0.8);
                    border-radius: 100%;
                    height: 50px;
                    width: 50px;
                }
            }
        } 
    }

}

.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:00%;
    background:$color-grey;
    -moz-animation: showHide 5s ease-in; /* Firefox */
    -webkit-animation: showHide 5s ease-in; /* Safari and Chrome */
    -ms-animation: showHide 5s ease-in; /* IE10 */
    -o-animation: showHide 5s ease-in; /* Opera */
    animation: showHide 5s ease-in;
}

 
@-webkit-keyframes showHide { /* Chrome, Safari */
    0% {width:100%}
    10%{width:85%}
    20%{width:75%}
    33%{width:65%}
    50% {width:55%}
    60% {width:45%;}
    85% {width:25%}
    100% {width:00%;}
}
@-moz-keyframes showHide { /* FF */
    0% {width:100%}
    10%{width:85%}
    20%{width:75%}
    33%{width:65%}
    50% {width:55%}
    60% {width:45%;}
    85% {width:25%}
    100% {width:00%;}
}
@-ms-keyframes showHide { /* IE10 */
    0% {width:100%}
    10%{width:85%}
    20%{width:75%}
    33%{width:65%}
    50% {width:55%}
    60% {width:45%;}
    85% {width:25%}
    100% {width:00%;}
}
@-o-keyframes showHide { /* Opera */
    0% {width:100%}
    10%{width:85%}
    20%{width:75%}
    33%{width:65%}
    50% {width:55%}
    60% {width:45%;}
    85% {width:25%}
    100% {width:00%;}
}
@keyframes showHide {
    0% {width:100%}
    10%{width:85%}
    20%{width:75%}
    33%{width:65%}
    50% {width:55%}
    60% {width:45%;}
    85% {width:25%}
    100% {width:00%;}
}

@media (max-width: 900px) {
    .skills-container{
       

        #skills-content {
           

            .wrapper {
                justify-content:center !important;
            }
        }
    }
}



@media (max-width: 600px) {
    .skills-container{
        height:unset !important;

        #skills-content {
            height: unset !important;

            .wrapper {
                justify-content:center !important;
                max-width: unset !important;

                .skill-container{
                    width: 100px !important;
                    height: 100px !important;
                    margin: 10px !important;
                }
            }
        }
    }
}