$color-primary: #FA2759;
$color-secondary: #2DFCD8;
$color-grey: #1A1A1A;
$color-black: #000000;


.skills-container{
    background-color: $color-grey;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    #skills-content{
        background-color: red;
    }

}