$color-primary: #FA2759;
$color-secondary: #2DFCD8;
$color-grey: #1A1A1A;
$color-black: #000000;


.skills-container{
    background-color: $color-grey;
    max-width: 100vw;
  //  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .skill-text{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    margin-top: 5%;
        h2{
            color: white;
            font-size: 42px;
            text-align: center;
        }

        .subline{
            text-align: center;
            color: $color-primary;
            margin-bottom: 1.5rem;
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
        #typing-container{
            min-height: 20px;
            display: flex;
    justify-content: center;
    margin-bottom: 2rem;

            .typingEffect{
                color: white !important;
                position: relative;
                width: max-content;
                left: auto;
                right: auto;
                &::before{
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background:$color-grey;
                    animation: typingAnimation 10s steps(50) 1s forwards;
                }
                &::after{
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: .250em;
                    background:$color-secondary;
                    animation: typingAnimation 10s steps(50) 1s forwards,
                    blinkAnimation 650ms steps(50) infinite;
    
                }
            }
        }
       
        
        
    }

  /*  h2 {
        position: absolute;
        top: 5%;
        color: white;
        font-size: 42px;
    }  */

    #skills-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $color-grey;
        height: unset !important;


        .wrapper{
            display: flex; 
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 80%;

            .skill-container{
                position: relative;
                background-color:white;
                border-radius:8px;
                height: 150px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2rem;

                .skill-text{
                    color: $color-black;
                    font-weight: bold;
                }
                .skill-image{
                    background-color: $color-secondary;
                    position: absolute;
                    top: -15%;
                    border: 2px solid rgba($color-secondary,0.8);
                    border-radius: 100%;
                    height: 50px;
                    width: 50px;
                }
            }
        } 
    }

}

@keyframes typingAnimation {
    to {
        left: 100%;
    }
}

@keyframes blinkAnimation {
    to {
        background: transparent;
    }
}

@media (max-width: 900px) {
    .skills-container{
       

        #skills-content {
           

            .wrapper {
                justify-content:center !important;
            }
        }
    }
}



@media (max-width: 850px) {
    #typing-container{
        max-width: 100%;
        overflow: hidden !important;
        span{
            font-size: 1rem !important;
            color:red;
        }
    }
    .skills-container{
        height:unset !important;

       

        #skills-content {
            height: unset !important;

            .wrapper {
                justify-content:center !important;
                max-width: unset !important;

                .skill-container{
                    width: 100px !important;
                    height: 100px !important;
                    margin: 10px !important;
                }
            }
        }
    }
}







