/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

$color-primary: #FA2759;
$color-secondary: #2DFCD8;
$color-grey: #1A1A1A;
$color-black: #000000;

.box{
    width: 90vw;
    height: 90vh;
}
.work-img{
    width: 250px;
    height: 300px;
    padding:16px;
}


.buttonPrimary{
    background-color: transparent;
    color: $color-secondary;
    width: 200px;
    height: 100px;
    border: 2px solid $color-secondary;

    a{
        text-decoration: none;
        color: $color-secondary;
        
       
    }


    &:hover{

        animation: primaryButtonHover 1.5s ease-in-out;
        color: white;
        background-color: rgba($color-secondary,0.6);
        border: 2px solid white;
        cursor: pointer;

        a{
            animation: primaryAnchorHover 1.5s ease-in-out;
            background-color: rgba($color-secondary,0.6);
            background-color:transparent;
            color:white !important;
        }
    }

}

@keyframes primaryButtonHover {
    from {
        color: $color-secondary; 
        background-color:transparent;
        border: 2px solid $color-secondary;
    }
    to {
        color: white;
        background-color: rgba($color-secondary,0.6);
        border: 2px solid white;
    }
}

@keyframes primaryAnchorHover {
    from {
        color: $color-secondary; 
       
        
    }
    to {
        color: white;     
    }
}






.buttonSecondary{
    background-color: transparent;
    color: $color-primary;
    width: 200px;
    height: 100px;
    border: 2px solid $color-primary;

    a{
        text-decoration: none;
        color: $color-primary;
        
       
    }


    &:hover{

        animation: secondaryButtonHover 1.5s ease-in-out;
        color: white;
        background-color: rgba($color-primary,0.6);
        border: 2px solid white;
        cursor: pointer;

        a{
            animation: secondaryAnchorHover 1.5s ease-in-out;
            background-color: rgba($color-primary,0.6);
            background-color:transparent;
            color:white !important;
        }
    }

}

@keyframes secondaryButtonHover {
    from {
        color: $color-primary; 
        background-color:transparent;
        border: 2px solid $color-primary;
    }
    to {
        color: white;
        background-color: rgba($color-primary,0.6);
        border: 2px solid white;
    }
}

@keyframes secondaryAnchorHover {
    from {
        color: $color-primary; 
       
        
    }
    to {
        color: white;     
    }
}
