<section class="home-container" id="home-container">

    <div id="home-content" class="box">

        <div class="container">
            <div class="text-container">
                <p class="typingEffectHome1"> HI, I'M</p> 
                <p class="nameColor typingEffectHome2"> NILS SPILLER</p> 
                <p class="typingEffectHome3">FRONT-END DEVELOPER</p> 
            </div>
           

            <button (click)="showContact()" class="buttonPrimary">CONTACT ME</button>
        </div>

      
               <div class="flipImage-container slider from-right">
                   <div class="card">
                       <div class="frontCard"></div>
                       <div class="backCard">
                           <span>
                               If you are intereseted in seeing more of my projects, check out my 
                               gitHub:
                           </span>
                           <a href="https://github.com/nilsSpi" target="_blank">https://github.com/nilsSpi</a>
                       </div>
                   </div>
               </div>
       
    </div>

</section>
